= render 'products/shared/header'

%main.container
  .container__inner
    .sideBar
      = form_with(url: products_searches_path, local: true, method: :get, class: 'searchExtendForm') do |form|
        %select
          %option{value: ""} 並び替え
          %option{value: "1"} 価格の安い順
          %option{value: "2"} 価格の高い順
          %option{value: "3"} 出品の新しい準備
          %option{value: "4"} いいね!の多い順

        .dropDownContent
          %h3.dropDownContent__visualLarge 詳細検索
          .formGroup
            %label
              %i.fas.fa-plus
              %span キーワードを追加する
              = form.text_field :keyword, value: "#{@search_word}", class: 'formGroup__inputDefault'

          .formGroup
            %label
              %i.fas.fa-list-ul
              %span カテゴリーを選択する
            .formGroup__selectWrap
              = form.collection_select(:category_id, @categories, :id, :name, {include_blank: 'すべて'})

          .formGroup
            %label
              %i.fas.fa-tag
              %span ブランド名から探す
            %input.formGroup__inputDefault{placeholder: '例）シャネル'}

          .formGroup
            %label
              %i.fas.fa-window-maximize
              %span サイズを指定する
            .formGroup__selectWrap
              = form.collection_select(:size, @products, :id, :size, {include_blank: 'すべて'})

          .formGroup
            %label
              %i.fas.fa-coins
              %span 価格
            .formGroup__selectWrap
              = form.select :price, [ ['300 ~ 1000', 1], ['1000 ~ 5000', 2], ['5000 ~ 10000', 3] ,['10000 ~ 30000', 4], ['30000 ~ 50000', 5], ['50000 ~ ', 6]  ], {prompt: '選択してください'}
            %input.formGroup__inputDefault.price{placeholder: '¥ Min'}
            %span ~
            %input.formGroup__inputDefault.price{placeholder: '¥ Max'}

          .formGroup
            %label
              %i.fas.fa-star
              %span 商品の状態
            %div
              .formGroup__checkboxDefault
                = form.check_box :condition, {}, 'true', 'false'
                = form.label :condition, 'すべて'
              .formGroup__checkboxDefault
                = form.check_box :condition, {}, 'true', 'false'
                = form.label :condition, '新品、未使用'
              .formGroup__checkboxDefault
                = form.check_box :condition, {}, 'true', 'false'
                = form.label :condition, '未使用に近い', class: 'formGroup__checkboxDefault__parts'
              .formGroup__checkboxDefault
                = form.check_box :condition, {}, 'true', 'false'
                = form.label :condition, '目立った傷や汚れなし'
              .formGroup__checkboxDefault
                = form.check_box :condition, {}, 'true', 'false'
                = form.label :condition, 'やや傷や汚れあり'
              .formGroup__checkboxDefault
                = form.check_box :condition, {}, 'true', 'false'
                = form.label :condition, '傷や汚れあり', class: 'formGroup__checkboxDefault__parts'
              .formGroup__checkboxDefault
                = form.check_box :condition, {}, 'true', 'false'
                = form.label :condition, '全体的に状態が悪い'

          .formGroup
            %label
              %i.fas.fa-truck
              %span 配送料の負担
            %div
              .formGroup__checkboxDefault
                = form.check_box :postage, {}, 'true', 'false'
                = form.label :postage, 'すべて', class: 'formGroup__checkboxDefault__parts'
              .formGroup__checkboxDefault
                = form.check_box :postage, {}, 'true', 'false'
                = form.label :postage, '着払い(購入者負担)'
              .formGroup__checkboxDefault
                = form.check_box :postage, {}, 'true', 'false'
                = form.label :postage, '送料込み(出品者負担)'

          .formGroup
            %label
              %i.fas.fa-shopping-cart
              %span 販売状況
            %div
              .formGroup__checkboxDefault
                = form.check_box :buyer_id, {}, 'true', 'false'
                = form.label :buyer_id, 'すべて', class: 'formGroup__checkboxDefault__parts'
              .formGroup__checkboxDefault
                = form.check_box :buyer_id, {}, 'true', 'false'
                = form.label :buyer_id, '販売中', class: 'formGroup__checkboxDefault__parts'
              .formGroup__checkboxDefault
                = form.check_box :buyer_id, {}, 'true', 'false'
                = form.label :buyer_id, '売り切れ', class: 'formGroup__checkboxDefault__parts'

          .dropDownContent__searchExtendBtn
            = button_tag type: 'submit', class: 'btnDefault btnDefault--gray', id: 'grayBtn' do
              クリア
            = form.submit '完了', class: 'btnDefault btnDefault--red', id: '#redBtn'

    .searchResult
      %h2.searchResult__head
        - if @search_word.present?
          = @search_word
          %span の検索結果
        - else
          全投稿一覧

      .searchResult__number
        = "#{@products.count}件表示"

      .searchResult__lists
        = render 'products/shared/product_list'

= render 'products/shared/app_banner'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'