= render 'products/shared/header'

.contentsRow
  .main__allProducts__productBox__productLists
    = render 'products/shared/product_list'

= render 'products/shared/app_banner'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'