.form
  .product_header
    %h1
      = link_to (image_tag ("material/logo/logo.png"), size: "200x58"), root_path



  .form_body
    %h1
      = "#{@user.name}さんのプロフィール"

    .products_lists
      %section.main__allProducts
        .main__allProducts__head
          = "#{@user.name}さんの出品商品一覧"
        .main__allProducts__productBox
          .main__allProducts__productBox__productHead
            = link_to '#' do
              %h3.main__allProducts__productBox__productHead__title 投稿商品
          .main__allProducts__productBox__productLists
            - @products.each do |product|
              .main__allProducts__productBox__productLists__productList
                = link_to product_path(product) do
                  %figure.main__allProducts__productBox__productLists__productList--img
                    = image_tag product.images[0].item.url
                  .main__allProducts__productBox__productLists__productList--body
                    .main__allProducts__productBox__productLists__productList__name
                      = product.name
                    .main__allProducts__productBox__productLists__productList__details
                      %ul
                        %li
                          = "#{product.price.to_s(:delimited, delimiter: ',')}円"
                        %li
                          %i.fas.fa-star
                          1
                      %p (税込)

  .product_footer
    %ul.clearfix.regulation
      %li
        %a{href: "#"} プライバシーポリシー
      %li
        %a{href: "#"} フリマ利用規約
      %li
        %a{href: "#"} 特定商取引に関する表記
    %h1
      = link_to (image_tag ("material/logo/logo-white.png"), size: "200x58"), root_path
    %p
      %small © FURIMA, Inc.