- if @address.errors.any?
  %span.err_message
    = I18n.t("errors.messages.not_saved")
= form_with model: @address ,url:edit_address_path do |a|
  .new_user__body__box
    -#↓配送先氏名変更用（使用予定）*****
    -# .new_user__body__box__group
    -#   .new_user__body__box__group__head
    -#     %label
    -#       お名前（全角）
    -#     %span.mandatory
    -#       必須
    -#     %br
    -#     - if @user.errors.any?
    -#       %span.err_message
    -#         =  @user.errors.full_messages_for(:first_name).shift
    -#         %br
    -#         =  @user.errors.full_messages_for(:last_name).shift
    -#   .namebox
    -#     = f.text_field :first_name, class: "new_user__body__box__group__form nmform", placeholder: "例）山田"
    -#     = f.text_field :last_name, class: "new_user__body__box__group__form nmform", placeholder: "例）彩"
    -# .new_user__body__box__group
    -#   .new_user__body__box__group__head
    -#     %label
    -#       お名前カナ（全角）
    -#     %span.mandatory
    -#       必須
    -#     %br
    -#     - if @user.errors.any?
    -#       %span.err_message
    -#         =  @user.errors.full_messages_for(:first_kana).shift
    -#         %br
    -#         =  @user.errors.full_messages_for(:last_kana).shift
    -#   .namebox
    -#     = f.text_field :first_kana, class: "new_user__body__box__group__form nmform", placeholder: "例）ヤマダ"
    -#     = f.text_field :last_kana, class: "new_user__body__box__group__form nmform", placeholder: "例）アヤ"

    -# = f.fields_for @address do |a|
    -#↑配送先氏名変更用（使用予定）*****
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          郵便番号
        %span
          任意
        %br
        - if @address.errors.any?
          %span.err_message
            =  @address.errors.full_messages_for(:code).shift
        = a.text_field :code, class: "new_user__body__box__group__form", placeholder: "例)123-4567", maxlength:'8'
      .new_user__body__box__group__head
        %label
          都道府県
        %span
          任意
        %br
        - if @address.errors.any?
          %span.err_message
            =  @address.errors.full_messages_for(:area).shift
        = a.text_field :area, class: "new_user__body__box__group__form", placeholder: "例)東京都"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          市区町村
        %span
          任意
        %br
        - if @address.errors.any?
          %span.err_message
            =  @address.errors.full_messages_for(:city).shift
        = a.text_field :city, class: "new_user__body__box__group__form", placeholder: "例)渋谷区"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          番地
        %span
          任意
        %br
        - if @address.errors.any?
          %span.err_message
            =  @address.errors.full_messages_for(:village).shift
        = a.text_field :village, class: "new_user__body__box__group__form", placeholder: "例)道玄坂2丁目23-12"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          建物名
        %span
          任意
        %br
      = a.text_field :building, class: "new_user__body__box__group__form", placeholder: "例)フォンティスビル7F"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %a
          ※本人情報は正しく入力してください。
          会員登録後、修正するにはお時間を頂く場合があります。
    = a.submit "変更", class: 'btn-default btn'