- if @address.errors.any?
  %span.err_message
    = I18n.t("errors.messages.not_saved")
= form_for(@address, url: addresses_path, html: {method: 'POST'}) do |f|
  .new_user__body__box
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          郵便番号
        %span.mandatory
          必須
        %br
        - if @address.errors.any?
          %span.err_message
            =  @address.errors.full_messages_for(:code).shift
        = f.text_field :code, class: "new_user__body__box__group__form", placeholder: "例)123-4567", maxlength:'8'
      .new_user__body__box__group__head
        %label
          都道府県
        %span.mandatory
          必須
        %br
        - if @address.errors.any?
          %span.err_message
            =  @address.errors.full_messages_for(:area).shift
        = f.text_field :area, class: "new_user__body__box__group__form", placeholder: "例)東京都"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          市区町村
        %span.mandatory
          必須
        %br
        - if @address.errors.any?
          %span.err_message
            =  @address.errors.full_messages_for(:city).shift
        = f.text_field :city, class: "new_user__body__box__group__form", placeholder: "例)渋谷区"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          番地
        %span.mandatory
          必須
        %br
        - if @address.errors.any?
          %span.err_message
            =  @address.errors.full_messages_for(:village).shift
        = f.text_field :village, class: "new_user__body__box__group__form", placeholder: "例)道玄坂2丁目23-12"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          建物名
      = f.text_field :building, class: "new_user__body__box__group__form", placeholder: "例)フォンティスビル7F"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %a
          ※本人情報は正しく入力してください。
          会員登録後、修正するにはお時間を頂く場合があります。
    = f.submit "次へ進む", class: 'btn-default btn'