%h2.new_user__body__address
  メールアドレス/パスワード
= form_with model: @user do |form|
  .new_user__body__box
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          メールアドレス
        %span
          任意
        %br
      = form.email_field :email, class: "new_user__body__box__group__form", placeholder: "PC・携帯どちらでも可"
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          現在のパスワード
        %span
          任意
        %br
      = form.password_field :password, class: "new_user__body__box__group__form", placeholder: '現在のパスワード'
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          新しいパスワード
        %span
          任意
        %br
      = form.password_field :password, class: "new_user__body__box__group__form", placeholder: '新しいパスワード'
    .new_user__body__box__group
      .new_user__body__box__group__head
        %label
          新しいパスワード（再入力）
        %span
          任意
        %br
      = form.password_field :password_confirmation, class: "new_user__body__box__group__form", placeholder: '新しいパスワード（再入力）'
    .user-mypage__main-content__content-form__content-box
      .user-mypage__main-content__content-form__content-box__btn
      = form.submit '登録する', class: 'btn-default btn'