= render 'products/shared/header'

.user-mypage.clearfix
  = render 'side-bar'

.user-mypage__main-content
  .user-mypage__main-content__content-title
    プロフィール
  = form_with model: @user, class: 'user-mypage__main-content__content-box' do |form|
    .user-mypage__main-content__content-box__profile
      %label.user-mypage__main-content__content-box__profile__icons
        = image_tag @user.icons
        = form.file_field :image, class: 'hidden'
      .user-mypage__main-content__content-box__profile__name
        = form.text_field :name, class: 'user-mypage__main-content__content-box__profile__name__box',size: '10x1'
    .user-mypage__main-content__content-box__comment
      = form.text_area :profile, class: 'user-mypage__main-content__content-box__comment__field', placeholder: "コメント", size: '30x6'
    .user-mypage__main-content__content-box__btn
      = form.submit '登録する', class: 'user-mypage__main-content__content-box__btn__send-btn'

      = render 'products/shared/header'

= render 'products/shared/footer'