= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"

%main.container
  .container__inner
    = render 'side-bar'

    %section.container__inner__content
      = render 'email-pass'

= render 'products/shared/app_banner'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'
