= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"

%main.container
  .container__inner
    = render 'side-bar'

    %section.container__inner__content
      - if params[:likes] || params[:saling] || params[:sold] || params[:buyed]
        .mypageProductLists#productsval
          = render partial: 'any-products', locals: { product: @products }
      - else
        .mypageProductLists#productsval
          = render 'email-pass'

= render 'products/shared/app_banner'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'
