= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"

%main.container.clearfix
  - flash.each do |notice, value|
    - notice
    %p
      = value

.user-mypage.clearfix
  = render 'side-bar'
  = render 'email-pass'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'
