= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"

%main.container
  .container__inner
    = render 'side-bar'

    .container__inner__content
      %section.container__inner__content
        %h2.container__inner__content__chapterHead
          = "#{@user.name}さんの出品商品一覧"
        .main__allProducts__productBox__productLists
          = render 'products/shared/product_list'

= render 'products/shared/app_banner'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'
