= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"

%main.container
  .container__inner
    = render 'side-bar'

    %section.container__inner__content
      %h2.new_user__body__edit
        本人情報
      .new_user__body__box
        .new_user__body__box__group
          .new_user__body__box__group__head
            %label
              お名前
            %br
              = current_user.first_name
              = current_user.last_name
        %br
        .new_user__body__box__group
          .new_user__body__box__group__head
            %label
              お名前（カナ）
            %br
              = current_user.first_kana
              = current_user.last_kana
        %br
        .new_user__body__box__group
          .new_user__body__box__group__head
            %label
              生年月日
            %br
              = current_user.birthday
      = render 'address_form'

= render 'products/shared/app_banner'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'
