= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :myinfo
  = render "layouts/breadcrumbs"

%main.container
  .container__inner
    = render 'side-bar'

    .container__inner__content
      %section.container__inner__content
        - if params[:likes] || params[:saling] || params[:sold] || params[:buyed]
          .mypageProductLists#productsval
            = render partial: 'any-products', locals: { product: @products }
        - else
          .mypageProductLists#productsval
            %h2.new_user__body__edit
              本人情報
            .new_user__body__box
              .new_user__body__box__group
                .new_user__body__box__group__head
                  %label
                    お名前
                  %br
                    = current_user.first_name
                    = current_user.last_name
              %br
              .new_user__body__box__group
                .new_user__body__box__group__head
                  %label
                    お名前（カナ）
                  %br
                    = current_user.first_kana
                    = current_user.last_kana
              %br
              .new_user__body__box__group
                .new_user__body__box__group__head
                  %label
                    生年月日
                  %br
                    = current_user.birthday
              %br
              .new_user__body__box__group
                .new_user__body__box__group__head
                  %label
                    郵便番号
                  %br
                    = "〒#{current_user.address.code}"




= render 'products/shared/app_banner'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'
