= form_with model: @product, id: 'product_form' do |form|
  - if @product.errors.any?
    .error_messages
      %ul.err_box
        = I18n.t("errors.messages.not_saved")
        - @product.errors.full_messages.each do |message|
          %li= message
  #products-image
    %label
      出品画像
    %span.magenta
      必須
    - if @product.errors.any?
      %span.err_message
        =  @product.errors.full_messages_for(:images).shift
    %p
      最大10枚までアップロードできます

    -# #previews
    -#   - if @product.persisted?
    -#     - @product.images.each_with_index do |image, i|
    -#       = image_tag image.item.url, data: { index: i }, width: "100", height: '100', class: "aaa"
    -#   = form.fields_for :images do |image|
    -#     = image.file_field :item, class: 'js-file', accept:"image/*", value:"", style: "display:none"
    -#     %i.fas.fa-camera
    -#     -# - if @product.persisted?
    -#     -#   %span.js-remove 削除
    -#   .save-box
    -#     - if @product.persisted?
    -#       = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
    -# - if @product.persisted?
    -#   .js-file_group{"data-index": "#{@product.images.count}"}
    -#     = file_field_tag :item, name: "product[images_attributes][#{@product.images.count}][item]", class: 'js-file'


    = form.fields_for :images do |i|
      .box
        .box-field
          .box-preview__1
          %label.box-field__1
            %i.fas.fa-camera
            = i.file_field :item, type: 'file', class: "box__select"
        .box-field2
          .box-preview__2
          %label.box-field2__2
            %i.fas.fa-camera
            = i.file_field :item, type: 'file', class: "box__select"


  #product-about
    #product-about__name
      %label
        商品名
      %span.magenta
        必須
      - if @product.errors.any?
        %span.err_message
          =  @product.errors.full_messages_for(:name).shift
    = form.text_field :name, id: :count_name, placeholder: "40文字まで", maxlength: "40"
    .count_box
      %span.up_count 0
      \/ 40文字

    #product-about__description
      %label
        商品の説明
      %span.magenta
        必須
      - if @product.errors.any?
        %span.err_message
          =  @product.errors.full_messages_for(:detal).shift
    = form.text_area :detal, id: :count_area, placeholder: "商品の特徴、注意点など(1,000文字以内)\n\n例）3年前に2万円で購入した本革のトートバックです。よく手入れはしてたので目立つ傷や汚れはありません。濃いブラウンなのでオンオフ使えます。", maxlength: "1000"
    .count_box
      %span.up_counter 0
      \/ 1000文字

  #product-about
    %p 商品の詳細
    #product-about__category
      %label
        カテゴリー
      %span.magenta
        必須
      - if @product.errors.any?
        %span.err_message
          =  @product.errors.full_messages_for(:category_id).shift
    #category_field
      = form.collection_select :category_id, @parents, :id, :name, {prompt: "---", selected: @product.category&.root_id}, id: "category_form"
      - if @product.category.present?
        = form.collection_select :category_id, Category.where("ancestry like ?", "#{@product.category.parent.ancestry}"), :id, :name, {prompt: "---", selected: "#{@product.category.parent.id}"}, class: "child_category_id"
        = form.collection_select :category_id, Category.where("ancestry like ?", "#{@product.category.ancestry}"), :id, :name, {prompt: "---", selected: "#{@product.category.id}"}, class: "gc_category_id"

    #product-about__brand
      %label
        ブランド
      %span.gray
        任意
    = form.text_field :brand, placeholder: "ブランド名やノーブランドなど"
    #product-about__size
      %label
        商品のサイズ
      %span.gray
        任意
    = form.text_field :size, placeholder: "商品サイズ"
    .product-about__condition
      %label
        商品の状態
      %span.magenta
        必須
      - if @product.errors.any?
        %span.err_message
          =  @product.errors.full_messages_for(:condition).shift
    = form.select :condition, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"], ["ジャンク品", "ジャンク品"]], include_blank: "選択して下さい"
  #product-about
    %p 配送について
    #product-about__postage
      %label
        配送料の負担
      %span.magenta
        必須
      - if @product.errors.any?
        %span.err_message
          =  @product.errors.full_messages_for(:postage).shift
    = form.select :postage, [["送料込み(出品者負担)", "出品者負担"], ["着払い(購入者負担)", "購入者負担"]], include_blank: "選択して下さい"
    #product-about__region
      %label
        発送元の地域
      %span.magenta
        必須
      - if @product.errors.any?
        %span.err_message
          =  @product.errors.full_messages_for(:prefecture_id).shift
    = form.collection_select(:prefecture_id, Prefecture.all, :id, :name,{include_blank: "選択して下さい"} )

    #product-about__delivery
      %label
        発送までの日数
      %span.magenta
        必須
      - if @product.errors.any?
        %span.err_message
          =  @product.errors.full_messages_for(:shipping_day).shift
    = form.select :shipping_day, [["1〜2日で発送", "1〜2日で発送"], ["2〜3日で発送", "2〜3日で発送"], ["4〜7日で発送", "4〜7日で発送"]], include_blank: "選択して下さい"
  #product-about
    %p 価格 (¥100 〜 9,999,999)
    #product-about__price
      #product-about__price__label
        %label
          販売価格
        %span.magenta
          必須
      %span
      - if @product.errors.any?
        %span.err_message
          =  @product.errors.full_messages_for(:price).shift
        ￥
      #product-about__price__box
        = form.number_field :price, placeholder: "税込み価格(半角数字のみ)", min: "100", max: "9999999"
  .form_button
    - if @product.id.nil?
      .send-btn
        = form.submit "出品する", title: "商品を出品する"
    - elsif user_signed_in? && current_user.id == @product.user_id
      .send-btn
        = form.submit "更新する", title: "商品を更新する"
      = link_to product_path(@product), method: :delete, data: { confirm: '削除しますか？' } do
        %input#product_delete{type: "button", value: "この商品を削除", title: "商品を削除"}
    .backpage
      %input{onclick: "history.back()", type: "button", value: "前のページへ戻る"}
    %p
      %small
        禁止されている
        %a{href: '#'} 行為
        および
        %a{href: '#'} 出品物
        を必ずご確認ください。
        %a{href: '#'} 偽ブランド品
        や
        %a{href: '#'} 盗品物
        などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
        %a{href: '#'} フリマ利用規約
        に同意したことになります。


