%header.header
  .header__headerInner
    .header__headerInner__mainHeader
      %h1.header__headerInner__mainHeader__icon
        = link_to root_path do
          = image_tag 'material/logo/logo.png'

      .header__headerInner__mainHeader__searchBox
        = form_with(url: products_searches_path, local: true, method: :get) do |form|
          = form.text_field :keyword, placeholder: 'キーワードから探す', class: 'header__headerInner__mainHeader__searchBox--input', id: 'search-input', autocomplete: "off"
          %label{class: "header__headerInner__mainHeader__searchBox__submit"}
            = image_tag 'material/icon/icon-search 1.png'
            = form.submit '検索', class: 'header__headerInner__mainHeader__searchBox__submit--btn'
        %ul#keyword

    .header__headerInner__nav
      %ul.header__headerInner__nav__listsLeft
        %li.header__headerInner__nav__listsLeft__item
          = link_to categories_path, id: 'categoBtn' do
            カテゴリーから探す
          #tree_menu
            %ul.categoryTree
              - @parents.each do |parent|
                %li.category_parent
                  = link_to category_path(parent) do
                    %input{type: "button", value: "#{parent.name}", name: "#{parent.id}", class: "parent_btn"}
              %li.category_parent
                = link_to categories_path do
                  %input{type: "button", value: "全てのカテゴリー", id: "all_btn"}
            %ul.categoryTree-child
            %ul.categoryTree-grandchild
        %li.header__headerInner__nav__listsLeft__brand
          = link_to '#' do
            ブランドから探す

      %ul.header__headerInner__nav__listsRight
        - if user_signed_in?
          %li.header__headerInner__nav__listsRight__item
            %span
              = "#{current_user.name}さん"
          %li.header__headerInner__nav__listsRight__item
            = link_to user_path(current_user.id) do
              %span マイページ
          %li.header__headerInner__nav__listsRight__item
            = link_to destroy_user_session_path, method: :delete do
              %span ログアウト
        - else
          %li.header__headerInner__nav__listsRight__item
            = link_to user_session_path do
              %span ログイン
          %li.header__headerInner__nav__listsRight__item
            = link_to new_user_registration_path do
              %span 新規会員登録
