- @products.each do |product|
  .main__allProducts__productBox__productLists__productList
    - if product.buyer_id.present?
      .main__allProducts__productBox__productLists__productList__soldOut
        .main__allProducts__productBox__productLists__productList__soldOut__content SOLD
    = link_to product_path(product) do
      %figure.main__allProducts__productBox__productLists__productList--img
        = image_tag product.images[0].item.url
      .main__allProducts__productBox__productLists__productList--body
        .main__allProducts__productBox__productLists__productList__name
          = product.name
        .main__allProducts__productBox__productLists__productList__details
          %ul.productListDetails
            %li
              = "#{product.price.to_s(:delimited, delimiter: ',')}円"
            %li
              %i.fas.fa-star
              1
          %p.productTax (税込)