= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :address
  = render "layouts/breadcrumbs"

%main.container
  .container__inner
    = render 'users/side-bar'

    %section.container__inner__content

      = render 'address_form'

= render 'products/shared/app_banner'

= render 'products/shared/footer'

= render 'products/shared/purchase_btn'
