= render 'products/shared/header'

.user-mypage.clearfix
  = render 'users/side-bar'

  .user-mypage__main-content
    .user-mypage__main-content__content-title
      登録カード情報
    .user-mypage__main-content__content-form
      - @users.each do |user|
        .user-mypage__main-content__content-form__content-box
          .user-mypage__main-content__content-form__content-box__card-info
            = "カード番号  123456789012"
          .user-mypage__main-content__content-form__content-box__card-btn
            = link_to "削除", card_path(@cards), class: "user-mypage__main-content__content-form__content-box__btn__dele-btn"
      .user-mypage__main-content__content-form__content-box
        .user-mypage__main-content__content-form__content-box__btn
          = link_to  new_card_path, class: 'user-mypage__main-content__content-form__content-box__btn__add-btn' do
            #add-btn 追加
= render 'products/shared/footer'

