.form
  = render 'shared/header'

  .form_body
    #product_form
      .purchase-box
        #product-about
          #product-about__title
            購入内容の確認
        #product-about
          #product-about__contents
            .buyContent__container__inner__product__productImage
              = image_tag "#{@product.images[0].item.url}"
            .discription
              = @product.name
              %br
              %a 送料込み（税込み）
              = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
        #product-about
          .purchase-amount
            .purchase-amount__left
              %a 支払金額
            .purchase-amount__right
              = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
        #product-about
          .discription
            .discription__top
              .discription__top__left
                支払方法
              .discription__top__right
                = link_to '変更する', card_path(current_user.id)
                %i.fas.fa-chevron-right
            .discription__bottom
              - if @default_card_information.blank?
                %br
              - else
                クレジットカード
                %br
                = "**** **** **** " + "#{@default_card_information.last4}"
                %br
                = "有効期限 " + @exp_month + " / " + @exp_year
                %br
              = image_tag "#{@card_src}", alt: @card_brand,  id: 'card_image'
        #product-about
          .discription
            .discription__top
              .discription__top__left
                配送先
              .discription__top__right
                = link_to '変更する', user_edit_address_path(current_user.id)
                %i.fas.fa-chevron-right
            .discription__bottom
              = "〒#{@address.code}"
              %br
              = @address.area_kana + @address.city_kana + @address.village_kana + @address.building_kana
              %br
              = @address.area + @address.city + @address.village + @address.building
              %br
              %br
              %br
            - if @address.phone_number.present?
              .discription__top__left 連絡先
              %br
              = @address.phone_number
              %br
              %br
              %br
            .discription__top__left 送付先氏名
            %br
            .discription__top__left
              - if @buyer_destination_fkana.present? && @buyer_destination_lkana.present?
                = @buyer_destination_fkana + @buyer_destination_lkana
              - elsif @buyer_destination_fkana.present?
                = @buyer_destination_fkana + @buyer_last_kana
              - elsif @buyer_destination_lkana.present?
                = @buyer_first_kana + @buyer_destination_lkana
              - else
                = @buyer_first_kana + @buyer_last_kana
            .discription__top__left
              - if @buyer_destination_first.present? && @buyer_destination_last.present?
                = @buyer_destination_first + @buyer_destination_last
              - elsif @buyer_destination_first.present?
                = @buyer_destination_first + @buyer_last_name
              - elsif @buyer_destination_last.present?
                = @buyer_first_name + @buyer_destination_last
              - else
                = @buyer_first_name + @buyer_last_name
        #product-about
          .discription
            = form_tag(action: :create, method: :post) do
              %button.discription__btn-default{type:"submit"} 購入する

  = render 'shared/footer'