= render 'products/shared/header'
%nav.breadCrumbs
  - breadcrumb :categories
  = render "layouts/breadcrumbs"
.content
  .content__all-products
    .content__all-products__product-box
      .content__all-products__product-box__products
        = link_to "#allProducts" do
          %input{type: "button", value: "すべての商品を見る >> "}
      .content__all-products__product-box__categories
        = "カテゴリー一覧"
      .content__all-products__product-box__categories-lists
        %ul.content__all-products__product-box__categories-lists__category
          - @parents.each do |parent|
            %li.category_parent
              = link_to "##{parent.id}" do
                %input{type: "button", value: "#{parent.name}"}

    .content__all-products__product-box
      - @parents.each do |parent|
        .content__all-products__product-box__parents{id: "#{parent.id}"}
          = "#{parent.name}"
        .content__all-products__product-box__parents-all
          = link_to "#{parent.name}のすべて",category_path(parent)
        - parent.children.each do |child|
          .content__all-products__product-box__children
            = "#{child.name}"
          %ul.content__all-products__product-box__children
            %li.content__all-products__product-box__children__all
              = link_to "#{child.name}のすべて", category_path(child)
            - child.children.each do |grandchild|
              %li.content__all-products__product-box__children__all
                = link_to "#{grandchild.name}", category_path(grandchild)

    %section.main__allProducts
    .main__allProducts__head{id: "allProducts"}
      = "すべての商品一覧"
    .main__allProducts__productBox
      .main__allProducts__productBox__productHead
        = link_to '#' do
          %h3.main__allProducts__productBox__productHead__title 投稿商品
      .main__allProducts__productBox__productLists
        - @products.each do |product|
          .main__allProducts__productBox__productLists__productList
            - if product.buyer_id.present?
              .main__allProducts__productBox__productLists__productList__soldOut
                .main__allProducts__productBox__productLists__productList__soldOut__content SOLD
            = link_to product_path(product) do
              %figure.main__allProducts__productBox__productLists__productList--img
                = image_tag product.images[0].item.url
              .main__allProducts__productBox__productLists__productList--body
                .main__allProducts__productBox__productLists__productList__name
                  = product.name
                .main__allProducts__productBox__productLists__productList__details
                  %ul
                    %li
                      = "#{product.price.to_s(:delimited, delimiter: ',')}円"
                    %li
                      %i.fas.fa-star
                      1
                  %p (税込)
    .backpage
      %input{onclick: "history.back()", type: "button", value: "前のページへ戻る"}

= render 'products/shared/footer'
= render 'products/shared/purchase_btn'
.scroll_button
  %a.icon.fas.fa-arrow-circle-up{href: "#", id:'scroll_top'} TOPへ戻る⤴︎