= render 'products/shared/header'
.Search
  .Search__Result
    - if params[:q]['name_cont'] == ""
      = "検索キーワードがありません。"

    - elsif @search.result.present?
      .Search__Result__title
        = "「#{params[:q][:name_cont]}」の検索結果: #{@search.result.count}個"
      .Search__Result__content
        - @product.each do |product|
          %p
            = product.name

    - else
      = "検索に一致する商品はありませんでした"