%form
  = search_form_for @search, url: search_path do |f|
    = f.search_field :name_cont, placeholder: "キーワードから探す", class: "header__headerInner__mainHeader__searchBox--input"
    = button_tag type: 'submit', class: 'header__headerInner__mainHeader__searchBox__submit' do
      .header__headerInner__mainHeader__searchBox__icon
        = image_tag 'material/icon/icon-search 1.png'
  - if params[:q]['name_cont'] == ""
    = "検索キーワードがありません。"

  - elsif @search_products.present?
    = "「#{params[:q][:name_cont]}」の検索結果: #{@search_products.count}個"

  - else
    = "検索に一致する商品はありませんでした"