= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :product
  = render "layouts/breadcrumbs"

.showMain
  .showMain__content
    .showMain__content__topContent
      .showMain__content__topContent__itemBox
        %h2.showMain__content__topContent__itemBox__name
          = @product.name
        .showMain__content__topContent__itemBox__body
          .showMain__content__topContent__itemBox__body__pic
            = image_tag @product.images[0].item.url, class: "mainImg"
            .showMain__content__topContent__itemBox__body__pic__sub
              - @product.images.each_with_index do |image|
                = image_tag image.item.url, class: "subImg"
        .showMain__content__topContent__itemBox__price
          %span
            = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
          .showMain__content__topContent__itemBox__price__detail
            %span (税込)
            %span 送料込み
          - if @product.buyer_id.present?
            .showMain__content__topContent__itemBox__soldOut
              SOLD OUT
          - elsif user_signed_in? && current_user.id != @product.user_id
            .showMain__content__topContent__itemBox__purchaseBtn
              = link_to new_product_buyer_path(@product.id) do
                購入画面に進む
          - elsif user_signed_in? && current_user.id == @product.user_id
            .showMain__content__topContent__itemBox__purchaseBtn 出品中
          - else
            .showMain__content__topContent__itemBox__purchaseBtn
              = link_to user_session_path do
                購入画面に進む
        .showMain__content__topContent__itemBox__itemDetail
          = @product.detal
        .showMain__content__topContent__itemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  = link_to profile_path(@product.user.id) do
                    = @product.user.name
              %tr
                %th カテゴリー
                %td
                  = link_to category_path(@product.category.root.id) do
                    = @parent.name
                  %br
                  = link_to category_path(@product.category.parent.id) do
                    = @children.name
                  %br
                  = link_to category_path(@product.category.id) do
                    = @category.name
              %tr
                %th ブランド
                %td
                  = @product.brand
              %tr
                %th 商品サイズ
                %td
                  = @product.size
              %tr
                %th 商品の状態
                %td
                  = @product.condition
              %tr
                %th 配送料の負担
                %td
                  = "#{@product.postage.to_s}"
              %tr
                %th 発送元の地域
                %td
                  = link_to '#' do
                    = @product.prefecture.name
              %tr
                %th.showMain__content__topContent__itemBox__table__title 発送日の目安
                %td.showMain__content__topContent__itemBox__table__data
                  = @product.shipping_day
        .showMain__content__topContent__itemBox__optionalArea
          %ul
            - if user_signed_in?
              %li.showMain__content__topContent__itemBox__optionalArea__likeBtn
                %i{id:"like-btn-#{@product.id}"}
                  = render 'likes/like', product: @product
            - else
              %li.showMain__content__topContent__itemBox__optionalArea__likeBtn
                %i{id:"like-btn-#{@product.id}"}
                  %i.fa-lg.fas.fa-star.icon-btn
                    %span
                      = "お気に入り #{@product.likes.count}"
          %ul
            %li.showMain__content__topContent__itemBox__optionalArea__optionalBtn
              = link_to '#' do
                %i.fa.fa-flag
                不適切な商品の通報

      .showMain__content__topContent__commentBox
        .comments
          コメント一覧
        - if @comments.exists?
          - @comments.each do |c|
            .comments__box
              = link_to c.user.name, profile_path(c.user.id), class: "comments__box__name"
              - if c.user.id === @product.user.id
                .comments__box__name__mark 出品者
              .comments__box__text
                %p
                  = c.text
        - else
          .comments__box
            .comments__box__noComment
              ＊まだコメントはありません。
        - if current_user
          = form_with(model: [@product, @comment], local: true, id: "new_comment") do |f|
            = f.text_area :text, id: :count_comment, placeholder: "コメントする", maxlength: "400", class: "showMain__content__topContent__commentBox__textField", rows: "4"
            .showMain__content__topContent__commentBox__noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            - if @product.buyer_id.present?
              .showMain__content__topContent__commentBox__submitBtnSold
                売り切れのためコメントできません
            -else
              = button_tag type: 'submit', class: 'showMain__content__topContent__commentBox__submitBtn' do
                %i.fa.fa-comment
                コメントする
        - else
          .showMain__content__topContent__commentBox__noticeMsg
            ＊コメントの投稿には新規登録/ログインが必要です。

      %ul.showMain__content__links
        %li
          = link_to '#' do
            %i.fa.fa-angle-left
            %span 前の商品
        %li
          = link_to '#' do
            %span 後ろの商品
            %i.fa.fa-angle-right

      .showMain__content__relatedItems
        = link_to category_path(@product.category.root.id), class: 'showMain__content__relatedItems__category' do
          = "#{@parent.name}をもっと見る"
        .showMain__content__relatedItems__productLists
          = render 'products/shared/product_list'
      .backpage
        %input{onclick: "history.back()", type: "button", value: "前のページへ戻る"}

= render 'products/shared/app_banner'

= render 'products/shared/footer'

- if user_signed_in? && current_user.id == @product.user_id
  .products-edit
    = link_to edit_product_path(@product) do
      .purchaseBtn_edit
        %span.purchaseBtn__text 編集する
        = image_tag 'material/icon/icon_camera.png', class: 'purchaseBtn__icon'
  = render 'products/shared/purchase_btn'
- else
  = render 'products/shared/purchase_btn'
