-# - breadcrumb :product
-# = render "layouts/breadcrumbs"


= render 'products/shared/header'

%nav.breadCrumbs
  %ul.breadCrumbs__lists
    %li.breadCrumbs__lists__list
      = link_to "/", class: 'breadCrumbs__lists__list--link' do
        FURIMA
    %li.fas.fa-angle-right.angle-right.breadCrumbs__lists__list.breadCrumbs__lists__list--icon
    %li.breadCrumbs__lists__list
      = link_to "#", class: 'breadCrumbs__lists__list--link' do
        = @parents.name
    %li.fas.fa-angle-right.angle-right.breadCrumbs__lists__list
    %li.breadCrumbs__lists__list
      = link_to "#", class: 'breadCrumbs__lists__list--link' do
        = @children.name
    %li.fas.fa-angle-right.angle-right.breadCrumbs__lists__list
    %li.breadCrumbs__lists__list
      = link_to "#", class: 'breadCrumbs__lists__list--link' do
        = @category.name
    %li.fas.fa-angle-right.angle-right.breadCrumbs__lists__list
    %li.breadCrumbs__lists__list
      = @product.name

.showMain
  .showMain__content
    .showMain__content__topContent
      .showMain__content__topContent__itemBox
        %h2.showMain__content__topContent__itemBox__name
          = @product.name
        .showMain__content__topContent__itemBox__body
          %ul
            %li
              = image_tag 'product_03.png'
              %ul
                - @product.images.each do |image|
                  %li
                    = image_tag image.item.url
        .showMain__content__topContent__itemBox__price
          %span
            = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
          .showMain__content__topContent__itemBox__price__detail
            %span (税込)
            %span 送料込み
        .showMain__content__topContent__itemBox__itemDetail 
          = @product.detal
        .showMain__content__topContent__itemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td testuserさん
              %tr
                %th カテゴリー
                %td
                  = link_to '#' do
                    = @parents.name
                  %br
                  = link_to '#' do
                    = @children.name
                  %br
                  = link_to '#' do
                    = @category.name
              %tr
                %th ブランド
                %td
                  = @product.brand
              %tr
                %th 商品サイズ
                %td
                  = @product.size
              %tr
                %th 商品の状態
                %td
                  = @product.condition
              %tr
                %th 配送料の負担
                %td
                  = "¥#{@product.postage.to_s}"
              %tr
                %th 発送元の地域
                %td
                  = link_to '#' do
                    = @product.region
              %tr
                %th.showMain__content__topContent__itemBox__table__title 発送日の目安
                %td.showMain__content__topContent__itemBox__table__data
                  = @product.shipping_day
        .showMain__content__topContent__itemBox__optionalArea
          %ul
            %li.showMain__content__topContent__itemBox__optionalArea__likeBtn
              %i.fa.fa-star
              お気に入り 0
          %ul
            %li.showMain__content__topContent__itemBox__optionalArea__optionalBtn
              = link_to '#' do
                %i.fa.fa-flag
                不適切な商品の通報

      .showMain__content__topContent__commentBox
        %form
          %input.showMain__content__topContent__commentBox__textField{type: "text"}
          .showMain__content__topContent__commentBox__noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %br
          = button_tag type: 'submit', class: 'showMain__content__topContent__commentBox__submitBtn' do
            %i.fa.fa-comment
            コメントする

      %ul.showMain__content__links
        %li
          = link_to '#' do
            %i.fa.fa-angle-left
            %span 前の商品
        %li
          = link_to '#' do
            %span 後ろの商品
            %i.fa.fa-angle-right
 
      .showMain__content__relatedItems
        = link_to '#' do
          = "#{@parents.name}をもっと見る"
        .showMain__content__relatedItems__productLists
          .showMain__content__relatedItems__productLists__productList
            = link_to '#' do
              %figure.showMain__content__relatedItems__productLists__productList--img
                = image_tag 'product_03.png'
              .showMain__content__relatedItems__productLists__productList__body
                %h3.showMain__content__relatedItems__productLists__productList__body__name product3
                .showMain__content__relatedItems__productLists__productList__body__details
                  %ul
                    %li
                      30,000円
                    %li
                      %i.fa.fa-star
                      0
                  %p (税込)

-# .content
  -# %ul.category__child.category__list
  -#   - parent.children.each do |child|
  -#     %li
  -#       = link_to "#", class: "category__child--name" do
  -#         = child.name
  -#       %ul.category__grandchild.category__list
  -#         - child.children.each do |grandchild|
  -#           %li
  -#             = link_to "#", class: " category__child--name" do
  -#               = grandchild.name

-#   .content__user-products
-#   %h1.product-name
-#     = @product.name
-#   %p.product-wording
-#     = "『#{@product.name}』はtestuserさんから出品されました。#{@category.name}の商品で、#{@product.region}から#{@product.shipping_day}で発送されます。"
-#   .content__all-products__product-box__product-lists__product-user
-#     .content__all-products__product-box__product-lists__product-list--link
-#       - @product.images.each do |image|
-#         = image_tag image.item.url
-#     .content__all-products__product-box__product-lists__product-list__body__lists__list
-#       %span.product-postage
-#         = "#{@product.price.to_s(:delimited, delimiter: ',')}円"
-#       %span.item-tax (税込)
-#       %span.product-postage
-#         ="送料込み"

= render 'products/shared/footer'
